<div class="container fundo">
    <p> As pessoas cadastram o que têm para doar no APP e a condição 
        do produto e a forma de entrega. Outras pessoas ao verem os 
        produtos que desejam, "Curtem" o artefato e, então, um chat entre 
        o doador e o interessado é habilitado - assim como acontece com o 
        Tinder quando acontece um Match.</p>
    <img src="./assets/logo1.png" width = "200">
</div>

<!--<app-mesa-admin *ngIf="showAdminBoard"></app-mesa-admin>
<app-mesa-user *ngIf="showUserBoard"></app-mesa-user>-->
