
.header {
    justify-content: start;
    height: 13%;
    background-color: rgba(31, 177, 219, 0.26);
    
}

span {
    display: flex;
    align-items: center;
}

h1 {
    font-family: Averta Demo PE;
    
    font-size: 1.8rem;
    color: #2E42F2;
}