<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="nav">
        
        <mat-nav-list *ngIf="isLoggedIn">
            <a routerLink="/home" style="color:#2E42F2" mat-list-item>
                <i class="material-icons">home</i>
                Home
            </a>
        </mat-nav-list>
        
        <mat-nav-list *ngIf="!isLoggedIn">
            <a routerLink="/login" style="color:#2E42F2" mat-list-item>
                <i class="material-icons">login</i>
                Entrar
            </a>
            <a routerLink="/register" style="color:#2E42F2" mat-list-item>
                <i class="material-icons">person_add</i>
                Criar conta
            </a>
        </mat-nav-list>

        <mat-nav-list *ngIf="isLoggedIn">
            <div class="account_circle">
            <!--<a  mat-list-item> [routerLink]="['/user', username]"-->
                <i class="material-icons" style="color:#2E42F2">account_circle</i>
                {{ username }}
            <!-- </a> -->
            </div>
<!--            <a *ngIf="showAdminBoard" mat-list-item>
                <i class="material-icons">face</i>
                User 
            </a>
            <a [routerLink]="['/booking', username]" mat-list-item>
                <i class="material-icons">edit_calendar</i>
                Book a table
            </a>-->
            <a (click)="logout()"  style="color:#2E42F2"mat-list-item>
                <i class="material-icons">logout</i>
                Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <div class="fundo">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
