.container {
    height: 80%;
}

i {
    padding-right: .6rem;
}

.account_circle {
    font-size: 1rem;
    margin: 0rem 1rem 0.6rem 1rem;
    border-style: hidden;
}

.mat-sidenav {
    background-color: rgb(233, 220, 102);
}
