.container {
    height: 80%;
    color: #2E42F2;
}

i {
    padding-right: .6rem;
}

.account_circle {
    font-size: 1rem;
    margin: 0rem 1rem 0.6rem 1rem;
    border-style: hidden;
}

.mat-sidenav {
    background-color: rgba(31, 177, 219, 0.26);
    color: #2E42F2;
}

.fundo{
    background-color: rgba(0, 165, 84, 0.47);
    height: 100%;
    /*padding: 3rem;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display:flex;
}
img{
    width: 200px;
    margin: 50px;
}

.conteudo {
    display:block;
}
