<mat-sidenav-content>
<div class="fundo">
    <div class="fundoVerde">
    
    <form>
        <h1>Entrar</h1>
        <img src="./assets/logo1.png" width = "200">
        <h2>Insira nome de usuario</h2>
        <mat-form-field appearance="standard" class="form">
            <input matInput [(ngModel)]="form.username" [formControl]="username" required type="text" name="username" placeholder="usuario" maxlength="20">
            <mat-error *ngIf="username.invalid">{{ getMessage() }}</mat-error>
        </mat-form-field>
    
        <h2>Insira a senha</h2>
        <mat-form-field appearance="standard" class="form">
            <input matInput [(ngModel)]="form.password" [formControl]="password" required [type]="hide ? 'password' : 'text'" name="password" maxlength="120">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{ getMessage() }}</mat-error>
        </mat-form-field>
    
     <!--   <div class="links">
            <a href="/forgot-password">Esqueceu sua senha?</a>
        </div> -->
    
        <div class="buttons">
            <button (click)="onSubmit()" [disabled]="getMessage()" class="buttonPrimary" mat-stroked-button color="primary">Entrar no sistema</button>
        </div>
    </form>
    </div>
    </div>
</mat-sidenav-content>
